body {
    background-color: #f7f7f7;
}

body {
    /* macos */
    /* font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif; */
    /* windows */
    font-family: Helvetica;
    /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

div.col-md-8 {
    background-color: #ffffff;
    border: 1px solid;
    border-image: linear-gradient(to right, #e6e6e6, #e6e6e6) 1;
}

.col-md-8 {
    padding-right: 30px;
    padding-left: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

h1 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-weight: 300; */
}

h3 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h5 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h6 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
.h1 {
    font-size: 39px;
    font-weight: bold;
}

h2,
.h2 {
    font-size: 28px;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #d6d6d6;
    font-weight: bold;
}

h3,
.h3 {
    font-size: 22px;
    font-weight: bold;
}

h4,
.h4 {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
}

h5,
.h5 {
    font-size: 15px;
}

h6,
.h6 {
    font-size: 13px;
}

blockquote {
    /* 设置引用块的背景色 */
    background-color: #e8e8e8;
    margin-bottom: 21px;

    /* 设置引用块上下左右的padding */
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;

    /* 设置引用块左侧的深色竖线 */
    border-color: #808080;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

blockquote p {
    font-size: 100%;
    margin: 0px;
}

pre {
    padding: 0em;
    border-radius: 5px;
}

.hljs {
    padding: 1.5em;
}

th {
    text-align: center;
}

.table tr td,
.table tr th {
    border: 1px solid #000;
}

.table tr th {
    background-color: #ddd;
}

ul,
ul ul,
ul ul ul {
    margin-bottom: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.col-md-9 img {
    margin: auto auto 10px auto;
}

details {
    margin: auto auto 20px auto;
}